In [ ]:
# load sql magic and password input
import getpass
%load_ext sql

# specify parameters
user = "s18group01"         
password = getpass.getpass()    # type in your password after running this cell
host = "dbase.dsa.missouri.edu"
database = "s18dbmsgroups"

In [ ]:
# form connection string
connection_string = "postgresql://{user}:{password}@{host}/{database}".format(user=user, password=password, host=host, database=database)
# connect to database using the formed string
%sql $connection_string

---
# 1.) User Management and Login Systems!
---

In [ ]:
#log in
SELECT * 
FROM users U JOIN User_types UT ON U.user_type_ID = UT.user_type_ID 
WHERE U.user_username = '$username' OR U.user_email = '$username';

In [ ]:
INSERT INTO User_logs (user_ID, role, user_username, action_taken)
VALUES (".$_SESSION['u_id'].", '".$_SESSION['u_type_name']."','".$_SESSION['u_username']."','Logged in');

In [ ]:
#setting page w/ password
UPDATE Users 
SET user_first = '$user_first', user_last = '$user_last', user_email = '$user_email', 
user_username = '$user_username', user_pwd = '$hashedPwd'
WHERE user_ID = '$user_ID';

In [ ]:
INSERT INTO User_logs (user_ID, role, user_username, action_taken)
VALUES (".$_SESSION['u_id'].", '".$_SESSION['u_type_name']."','".$_SESSION['u_username']."',
        'Update profile and password');

In [ ]:
#setting page w/o password
UPDATE Users 
SET user_first = '$user_first', user_last = '$user_last', user_email = '$user_email', 
user_username = '$user_username'
WHERE user_ID = '$user_ID';

In [ ]:
INSERT INTO User_logs (user_ID, role, user_username, action_taken)
VALUES (".$_SESSION['u_id'].", '".$_SESSION['u_type_name']."','".$_SESSION['u_username']."',
        'Update profile');

In [ ]:
#display-user-table
SELECT * FROM Users U, User_types Ut WHERE U.user_type_id = Ut.user_type_id;

In [ ]:
##footer - Updated time
SELECT max(updatedon::timestamp(0))  FROM Users;

In [ ]:
## Admin - Update User 
SELECT * FROM users WHERE user_username = '$user_username';
SELECT * FROM users WHERE user_email = '$user_email';

In [ ]:
# Update User w/ password
UPDATE Users 
SET user_first = '$user_first', user_last = '$user_last', user_email = '$user_email', 
user_type_id = '$user_type_id', user_username = '$user_username', user_pwd = '$hashedPwd'
WHERE user_ID = '$user_ID';

In [ ]:
# record the change to the log table
INSERT INTO User_logs (user_ID, role, user_username, action_taken)
VALUES (".$_SESSION['u_id'].", '".$_SESSION['u_type_name']."',
        '".$_SESSION['u_username']."','Update user ''" . $user_ID . "'' and password');

In [ ]:
# Update User w/out password
UPDATE Users SET user_first = '$user_first', user_last = '$user_last', user_email = '$user_email', 
user_type_id = '$user_type_id', user_username = '$user_username'
WHERE user_ID = '$user_ID';

In [ ]:
INSERT INTO User_logs (user_ID, role, user_username, action_taken)
VALUES (".$_SESSION['u_id'].", '".$_SESSION['u_type_name']."',
        '".$_SESSION['u_username']."','Update user ''" . $user_ID . "'' ');

In [ ]:
# Delete user
DELETE FROM Users WHERE user_id = " . $delete_user_id . ";

In [ ]:
# record the delete log
INSERT INTO User_logs (user_id, role, user_username, action_taken) 
VALUES ('".$_SESSION['u_id']."', '".$_SESSION['u_type_name']."', 
        '".$_SESSION['u_username']."', 'Delete user = ''".$delete_user_username."'' ');

In [ ]:
#Create a new user
INSERT INTO Users (user_username, user_first, user_last, user_pwd, user_email, user_type_id)
VALUES ('$user_username', '$user_first', '$user_last', '$hashedPwdCheck', '$user_email', '$user_type_id');

In [ ]:
#log the activity
INSERT INTO User_logs (user_ID, role, user_username, action_taken)
VALUES (".$_SESSION['u_id'].", '".$_SESSION['u_type_name']."',
        '".$_SESSION['u_username']."','Create a new user:  username = ''" . $user_username . "'' ');

In [ ]:
# display activity log table
SELECT * 
        FROM User_logs
        ORDER BY action_taken_time DESC;

---
# 2.) Dashboard Display!
---

In [ ]:
#open ticket
SELECT count(*) FROM Ticket WHERE ticketStatus_ID = 2;

In [ ]:
#new purchase order
SELECT count(*) FROM purchaseOrder WHERE purchaseStatus_ID = 1;

In [ ]:
# Open Issue
SELECT count(*) FROM Issues WHERE issueStatus_ID = 1;

In [ ]:
# new lead
SELECT count(*) FROM lead WHERE leadstatus_id = 4;

In [ ]:
# display Geography chart (location) of the company branches
SELECT b.branch_name, count(p.property_ID) AS properties
    FROM branch b, Property P
    WHERE b.branch_ID = p.branch_ID
    GROUP BY b.branch_name;

---
# 3.) Company Performance and Gross Profit
---

In [ ]:
# Find the over all company profit margin 
SELECT (SUM(sale_price) - SUM(actualCost)), 
                 SUM(sale_price), 
                 (SUM(sale_price) - SUM(actualCost)) / SUM(sale_price)                     
         FROM Contract;

In [ ]:
# Total revenue and expense on each year
SELECT contractYear, SUM(sale_price), SUM(actualCost)
        FROM Contract 
        GROUP BY contractYear
        ORDER BY ContractYear ASC;

In [ ]:
# Total revenue and expense of each year on different branch branches
SELECT B.Branch_name, C.contractYear, SUM(sale_price),  SUM(actualCost)
        FROM Contract C, Property P,  Branch B
        WHERE C.property_ID = P.property_ID AND P.branch_ID = B.branch_ID
        GROUP BY B.Branch_ID, C.contractYear;

In [ ]:
# Contribution Margin
SELECT contractyear, (1 - (sum(actualCost)/sum(sale_price))) * 100 AS Contribution_Margin
        FROM Contract
        GROUP BY contractyear
        ORDER BY contractyear;

---
# 4.) Leads (Potential Customers) !
---

In [ ]:
#Leads by Branch
SELECT b.branch_name, count(l.lead_ID)
    FROM Lead l, branch b
    WHERE l.branch_id = b.branch_id
    GROUP BY b.branch_id;

In [ ]:
#Leads by Industry
SELECT i.industry_name, count(l.lead_ID)
     FROM Lead l, industry i
     WHERE l.industry_id = i.industry_id AND l.leadStatus_ID  IN (2,4)
     GROUP BY i.industry_id;

In [ ]:
#Leads by Year
SELECT leadYear, count(lead_ID)
     FROM lead
     WHERE leadStatus_ID  IN (2,4)
     GROUP BY leadYear
     ORDER BY leadYear ASC;

In [ ]:
# Marketing Table
SELECT l.lead_ID, b.branch_name, e.employee_name, i.industry_name, 
        lt.leadType_name, ls.leadStatus_name, l.leadValue, l.leadYear
        FROM Lead l
        JOIN Branch b ON l.branch_ID = b.branch_ID
        JOIN Employee e ON l.marketingRep_ID = e.employee_ID
        JOIN Industry i ON l.industry_ID = i.industry_ID
        JOIN Lead_type lt ON l.leadType_ID = lt.leadType_ID
        JOIN Lead_Status ls ON l.leadStatus_ID = ls.leadStatus_ID
        ;

---
# 5.) Expenses!
---

In [ ]:
# Actual Total Costs
SELECT SUM(actLabor_expense) AS Labor, SUM(actSubcontractor_expense) AS Subcontractor, SUM(actMaterial_expense) AS 
        Material, SUM(actEquipment_expense) AS Equipment
        FROM ticket

In [ ]:
# Estimated Total Costs
SELECT SUM(estLabor_expense) AS Labor, SUM(estSubcontractor_expense) AS Subcontractor, SUM(estMaterial_expense) AS 
        Material, SUM(estEquipment_expense) AS Equipment
        FROM ticket

In [ ]:
# Accuracy of all branches
SELECT SUM(actLabor_expense) AS act_labor, SUM(actSubcontractor_expense) AS act_subcontractor, 
SUM(actMaterial_expense) AS act_material, SUM(actEquipment_expense) AS act_equipment, 
SUM(estLabor_expense) AS est_labor, SUM(estSubcontractor_expense) AS est_subcontractor, 
SUM(estMaterial_expense) AS est_material, SUM(estEquipment_expense) AS est_equipment 
FROM ticket;

In [ ]:
# Accuracy by Property %
SELECT c.property_id, SUM(actLabor_expense) AS act_labor, SUM(actSubcontractor_expense) AS act_subcontractor, SUM(actMaterial_expense) AS act_material, SUM(actEquipment_expense) AS act_equipment,
SUM(estLabor_expense) AS est_labor, SUM(estSubcontractor_expense) AS est_subcontractor, SUM(estMaterial_expense) AS est_material, SUM(estEquipment_expense) AS est_equipment
FROM ticket t
JOIN contractservice cs ON t.contractService_ID = cs.contractService_ID
JOIN contract c ON cs.contract_id = c.contract_id
GROUP BY c.property_id
ORDER BY c.property_id ASC;

---
# 6.) Ticket!
---

In [ ]:
$sql_open_ticket = "SELECT count(*) FROM Ticket WHERE ticketStatus_ID = 2;";
$sql_approved_ticket = "SELECT count(*) FROM Ticket WHERE ticketStatus_ID = 5;";
$sql_billed_ticket = "SELECT count(*) FROM Ticket WHERE ticketStatus_ID = 7;";

In [ ]:
# Bar Graph 
SELECT ts.ticketStatus_name AS status, COUNT(*)
        FROM Ticket t
        JOIN Ticket_status ts ON t.ticketStatus_ID = ts.ticketStatus_ID
        GROUP BY (ts.ticketStatus_name);

In [ ]:
# Billed Ticket 
SELECT t.ticket_id, st.description, e.employee_name, cl.client_name, b.branch_name, co.contractYear
        FROM Ticket t
        JOIN Contractservice cs ON t.contractService_ID = cs.contractservice_id
        JOIN Servicetype st ON cs.servicetype_ID = st.servicetype_ID
        JOIN Employee e ON t.foreman_ID = e.employee_ID
        JOIN Contract co ON cs.contract_ID = co.contract_ID
        JOIN Property p ON co.property_ID = p.property_ID
        JOIN Client cl ON p.client_ID = cl.client_ID
        JOIN Branch b ON p.branch_ID = b.branch_ID
        JOIN Ticket_status ts ON t.ticketStatus_ID = ts.ticketStatus_ID
        WHERE ts.ticketStatus_name = 'Billed';

In [ ]:
# Approved Ticket Table
SELECT t.ticket_id, st.description, e.employee_name, cl.client_name, b.branch_name, co.contractYear
        FROM Ticket t
        JOIN Contractservice cs ON t.contractService_ID = cs.contractservice_id
        JOIN Servicetype st ON cs.servicetype_ID = st.servicetype_ID
        JOIN Employee e ON t.foreman_ID = e.employee_ID
        JOIN Contract co ON cs.contract_ID = co.contract_ID
        JOIN Property p ON co.property_ID = p.property_ID
        JOIN Client cl ON p.client_ID = cl.client_ID
        JOIN Branch b ON p.branch_ID = b.branch_ID
        JOIN Ticket_status ts ON t.ticketStatus_ID = ts.ticketStatus_ID
        WHERE ts.ticketStatus_name = 'Approved';

In [ ]:
# Open Ticket
SELECT t.ticket_id, st.description, e.employee_name, cl.client_name, b.branch_name, co.contractYear
        FROM Ticket t
        JOIN Contractservice cs ON t.contractService_ID = cs.contractservice_id
        JOIN Servicetype st ON cs.servicetype_ID = st.servicetype_ID
        JOIN Employee e ON t.foreman_ID = e.employee_ID
        JOIN Contract co ON cs.contract_ID = co.contract_ID
        JOIN Property p ON co.property_ID = p.property_ID
        JOIN Client cl ON p.client_ID = cl.client_ID
        JOIN Branch b ON p.branch_ID = b.branch_ID
        JOIN Ticket_status ts ON t.ticketStatus_ID = ts.ticketStatus_ID
        WHERE ts.ticketStatus_name = 'Open';

---
# 7.) Purchase Orders
---

In [ ]:
#number display
$sql_new_purchase = "SELECT count(*) FROM purchaseOrder WHERE purchaseStatus_ID = 1;";
$sql_approved_purchase = "SELECT count(*) FROM purchaseOrder WHERE purchaseStatus_ID = 5;";
$sql_complete_purchase = "SELECT count(*) FROM purchaseOrder WHERE purchaseStatus_ID = 6;";

In [ ]:
# Bar graph
SELECT ps.status, COUNT(*)
    FROM PurchaseOrder po
    JOIN Purchase_status ps ON po.purchaseStatus_ID = ps.purchaseStatus_ID
    GROUP BY (ps.status);

In [ ]:
# New order
SELECT po.po_id, v.vendor_name, ps.status, b.branch_name, po.created_by_user_code, 
    po.submitted_on, po.estimated_delivery_date, po.is_fully_allocated
    FROM PurchaseOrder po
    JOIN Vendor v ON po.vendor_ID = v.vendor_ID
    JOIN Purchase_status ps ON po.purchaseStatus_ID = ps.purchaseStatus_ID
    JOIN Branch b ON po.branch_ID = b.branch_ID
    WHERE ps.status = 'New';

In [ ]:
# Approved order
SELECT po.po_id, v.vendor_name, ps.status, b.branch_name, po.created_by_user_code, 
    po.submitted_on, po.estimated_delivery_date, po.is_fully_allocated
    FROM PurchaseOrder po
    JOIN Vendor v ON po.vendor_ID = v.vendor_ID
    JOIN Purchase_status ps ON po.purchaseStatus_ID = ps.purchaseStatus_ID
    JOIN Branch b ON po.branch_ID = b.branch_ID
    WHERE ps.status = 'Approved';

In [ ]:
# Complete Order
SELECT po.po_id, v.vendor_name, ps.status, b.branch_name, po.created_by_user_code, 
    po.submitted_on, po.estimated_delivery_date, po.is_fully_allocated
    FROM PurchaseOrder po
    JOIN Vendor v ON po.vendor_ID = v.vendor_ID
    JOIN Purchase_status ps ON po.purchaseStatus_ID = ps.purchaseStatus_ID
    JOIN Branch b ON po.branch_ID = b.branch_ID
    WHERE ps.status = 'Complete';

---
# 8.) Issues 
---

In [ ]:

$sql_open_issue = "SELECT count(*) FROM Issues WHERE issueStatus_ID = 1;";
$sql_closed_issue = "SELECT count(*) FROM Issues WHERE issueStatus_ID = 2;";
$sql_past_issue = "SELECT count(*) FROM Issues WHERE issueStatus_ID = 3;";

In [ ]:
# Bar graph
SELECT iss.issueStatus_name AS status, COUNT(*) AS count
    FROM Issues i
    JOIN Issue_status iss ON i.issueStatus_ID = iss.issueStatus_ID
    GROUP BY (iss.issueStatus_name)

In [ ]:
# Closed issues
SELECT i.issue_id, iss.issueStatus_name, e.employee_name, p.property_name, it.issueType_code, py.priority, i.dueDate
    FROM Issues i
    JOIN Issue_status iss ON i.issueStatus_ID = iss.issueStatus_ID
    JOIN Employee e ON i.assignedForeman_ID = e.employee_ID
    JOIN Property p ON i.property_ID = p.property_ID
    JOIN Issue_type it ON i.issueType_ID = it.IssueType_ID
    JOIN Priority py ON i.issuePriority_ID = py.issuePriority_ID
    WHERE iss.issueStatus_name = 'Closed';

In [ ]:
# Open issues
SELECT i.issue_id, iss.issueStatus_name, e.employee_name, p.property_name, it.issueType_code, py.priority, i.dueDate
    FROM Issues i
    JOIN Issue_status iss ON i.issueStatus_ID = iss.issueStatus_ID
    JOIN Employee e ON i.assignedForeman_ID = e.employee_ID
    JOIN Property p ON i.property_ID = p.property_ID
    JOIN Issue_type it ON i.issueType_ID = it.IssueType_ID
    JOIN Priority py ON i.issuePriority_ID = py.issuePriority_ID
    WHERE iss.issueStatus_name = 'Open';

In [ ]:
#Open-Issue-Priority Levels:
SELECT p.priority, COUNT(*)
    FROM Issues i
    JOIN Priority p ON i.issuePriority_ID = p.issuePriority_ID
    JOIN Issue_status iss ON i.issueStatus_ID = iss.issueStatus_ID
    WHERE iss.issueStatus_name = 'Open'
    GROUP BY p.priority;

In [ ]:
# past-due table
SELECT i.issue_id, iss.issueStatus_name, e.employee_name, p.property_name, it.issueType_code, py.priority, i.dueDate
    FROM Issues i
    JOIN Issue_status iss ON i.issueStatus_ID = iss.issueStatus_ID
    JOIN Employee e ON i.assignedForeman_ID = e.employee_ID
    JOIN Property p ON i.property_ID = p.property_ID
    JOIN Issue_type it ON i.issueType_ID = it.IssueType_ID
    JOIN Priority py ON i.issuePriority_ID = py.issuePriority_ID
    WHERE iss.issueStatus_name = 'Past_Due';

In [ ]:
SELECT p.priority, COUNT(*)
    FROM Issues i
    JOIN Priority p ON i.issuePriority_ID = p.issuePriority_ID
    JOIN Issue_status iss ON i.issueStatus_ID = iss.issueStatus_ID
    WHERE iss.issueStatus_name = 'Past_Due'
    GROUP BY p.priority;

---
# 9.) Employees!
---

In [ ]:
# manager
SELECT B.branch_id, B.branch_name, E.employee_name  
    FROM Branch B, Employee E
    WHERE E.employee_ID = B.branchmanager_id
    ORDER BY B.branch_id;

In [ ]:
# employee
SELECT E.employee_id, E.employee_name, B.branch_name
    FROM Employee E, Branch B
    WHERE E.branch_id = B.branch_id
    ORDER BY E.employee_id;

---
# 10.) Clients! 
---

In [ ]:
# Table for admin and executive manager View:
SELECT P.property_id, P.property_name, B.branch_name, C.client_name, I.industry_name, A.addresstype,
                A.addressline, A.city, A.state, A.zipcode
                FROM Property P, Branch B,  Client C,  Industry I, Address A
                WHERE P.branch_id = B.branch_id AND P.client_id = C.client_id AND P.industry_id = I.industry_id AND P.address_id 
                = A.address_id
                ORDER BY P.property_id;

In [ ]:
# account mamanger - client summary view
SELECT * FROM client_summary;